<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="Hypster.TV includes Movies, Music, Radio, TV and Online entertainment stories and reporting from Hollywood and around the globe." />
    <meta name="keywords" content="Hypster.TV, Music, Radio, TV and the Net, reporting, bands, tributes, groups, rock, headliners, rap, movies, classical, 80\'s, jams, actors, a-listers, the business, hollywood, gigs, big bands, swing, jazz, foreign, irish, standards, glamour" />



    @Styles.Render("~/css/themes/base/css", "~/css/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/hypScript.js")
    @Scripts.Render("~/scripts/jquery.cycle.all.latest.js")
    @Scripts.Render("~/scripts/AC_RunActiveContent.js")

    <script type='text/javascript' src='http://cdn2.baronsmedia.com/adplayer/jwplayer.js'></script>

</head>



<body>
    <div style=" float:left; width:100%; min-width:1040px; min-height: 100%; height: auto !important; height: 100%; margin-bottom:25px; ">
        

        <div class="ContentHeaderCont">
           
                <div class="ContentHeaderInner">
                    <!-- MAIN MENU -->
                    <div id="MainMenu" >
                        <img class="mLogo" alt="Hypster Logo" src="/imgs/shared/main_logo.png" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/';" />
                        

                        <div class="hypContHolder">
                            <a class="mHypster" href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]" >
                                Hypster
                            </a>
                            <!-- SUB MENU -->
                            <div id="HypsterSub">
                                <a class="HypSub_tv" href="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]">TV</a>
                                <a class="HypSub_news" href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]">News</a>
                            </div>
                            <!-- SUB MENU -->
                        </div>

                        <a class="mListen" href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/listen">Listen</a>
                        <a class="mCreate" href="@if(User.Identity.IsAuthenticated){<text>http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/create/playlist</text>}else{<text>http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/create</text>}">Create</a>
                        <a class="mConnect" href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/connect">Connect</a>

                
                        <div class="TopHeaderCont">
                            @Html.Partial("~/Views/account/pr_LoginStatus.cshtml")
                        </div>
                    </div>
                    <!-- MAIN MENU -->
                </div>

            
        </div>





        <div class="ContentRootCont" >
             @RenderBody()
        </div>
        

    
        <div class="push"></div>
    </div>





    <!-- BOTTOM -->
    <div class="ContentFooterCont">
        <center>

                <div class="BottomPane">
                    <div style=" float:left; width:290px; height:250px; margin-top:10px;">
                        <img alt="" src="/imgs/shared/footer_logo_1.png" style=" padding:13px 5px 15px 50px;" />


                        <div style=" float:left; width:100%; height:22px;">
                                <div id="hyp_sosialHolder1" onmouseover="this.style.display = 'none'; $('#hyp_SNR_BtnHolder_1').css('display','block');">
                                    <div class="hyp_SI_Cont_google"></div>
                                    <div class="hyp_SI_Cont_twitter"></div>
                                    <div class="hyp_SI_Cont_facebook"></div>
                                </div>

                                <div id="hyp_SNR_BtnHolder_1" style=" float:left; width:100%; display:none;">
                    
                                    <div class="hyp_SI_Cont_facebook1">
                                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F@(System.Configuration.ConfigurationManager.AppSettings["newsHostName"])&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                                    </div>

                                    <div class="hyp_SI_Cont_twitter1">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]" data-text="Hypster">Tweet</a>
                                        <script>                                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
                                    </div>

                                    <div class="hyp_SI_Cont_google1">
                                        <div class="g-plusone" data-size="medium" data-href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]"></div>
                                        <script type="text/javascript">                                            (function () { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
                                    </div>

                                </div>
                        </div>

                    </div>



                    <div class="BottomPaneInnr">

                        <div class="MenuItmCont">
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/How_To_Use" >How To Use</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/Hypster_On_Mobile" >Hypster On Mobile</a>
                        </div>

                        <div class="MenuItmCont">
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/" >Hypster</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/listen" >Listen</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/create" >Create</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/connect" >Connect</a>
                        </div>

                        <div class="MenuItmCont">
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/listen/radio" >Radio</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]" >TV</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]" >Music News</a>
                        </div>
                        
                        <div class="MenuItmCont">
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/Contact_Us" >Contact Us</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/About_Us" >About Us</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/Privacy_Policy" >Privacy Policy</a>
                            <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypster/Terms_of_Service" >Terms of Service</a>
                        </div>


                        <div style=" float:left; width:100%;">
                            <div class="FeaturedAdContBottom">
                                <div id="TopAdd_Bottom_2938eu93"></div>
                                <!-- 06_10 -->
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        @if(Request.RawUrl.ToString() == "/"){
                                            <text>document.getElementById("TopAdd_Bottom_2938eu93").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9NzI4eDkwLG49aWZyYW1l?subid=default\" width=\"728\" height=\"90\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";</text>
                                        }else
                                        {
                                            <text>document.getElementById("TopAdd_Bottom_2938eu93").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default\" width=\"728\" height=\"90\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";</text>
                                        }
                                    });
                                </script>
                            </div>
                        </div>

                    </div>




                    <div style=" float:left; width:98%; height:15px; margin-top:-10px; font-size:9px; text-align:right; ">@System.Configuration.ConfigurationManager.AppSettings["server_ID"]</div>
                </div>

        </center>
    </div>
    <!-- BOTTOM -->








    <!-- hide back -->
    <div class="Trans_BACK" id="HideBackDiv" onclick="Show_Content();"></div>
    <div id="popupContainer"></div>
    <!-- hide back -->






    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28695705-5']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
        

    
</body>
</html>
