@model hypster_tv.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}




<script type="text/javascript">
    $(document).ready(function () {
        RenderSignIn();
    });
    $(window).resize(function () {
        RenderSignIn();
    });
</script>






<div class="boxContRight boxContRightTop" >
    <div id="listenSlide1" class="slideRight" style=" min-height:270px;">

            

                <div style=" float:left; width:350px; min-height:250px; margin:0px 0 0 0px; padding:10px; background-color:#292929; ">
                
                        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
         
                            <div style=" font-size:27px;">
                                Sing in to Hypster.com
                            </div>
            

        
                            <div style=" font-size:18px; margin-top:15px;">
                                Username:
                            </div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "txtLogin" })<br />

             
                            <div style=" font-size:18px; margin-top:10px;">
                                Password:
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "txtLogin" })<br />
                
                

                            <div style=" float:left; margin:7px 0 0 0;">
                                @Html.CheckBoxFor(m => m.RememberMe) 
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </div>
                            
                            <input type="submit" value="Log in" style=" float:right; width:180px; height:28px; margin-top:7px;" />
        
                        
                            <div style=" float:left; width:100%;">
                                @Html.ValidationSummary(true, "", new { @class = "txtValidator" })

                                @if (ViewBag.ForgotPassword != null && ViewBag.ForgotPassword == true)
                                {
                                    <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/account/ForgotPassword">Forgot your password?</a>
                                }
                            </div>
                        }
                </div>


                <div style=" float:left; width:280px; height:250px; margin:0px 0 0 15px; padding:10px; background-color:#292929; ">
                
                    <div style=" font-size:27px;">
                        Don't Have An Account?
                    </div>

                    <div onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/account/register';" style=" float:left; width:260px; height:170px; line-height:150px; margin:30px 0 0 15px; background-color:#121212; border-radius:3px; font-size:35px; text-align:center; cursor:pointer;">
                        Register
                    </div>

                </div>


                <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px; background-color:#292929; border:10px solid #292929;">
                    <div id="SideAd2"></div>
                    <!-- 06_10 -->
                    <script type="text/javascript">
                        $(document).ready(function () {
                            document.getElementById("SideAd2").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\" width=\"300\" height=\"250\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                        });
                    </script>
                </div>
            




    </div>
</div>
