@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <meta name="description" content="Hypster.TV includes Movies, Music, Radio, TV and Online entertainment stories and reporting from Hollywood and around the globe." />
    <meta name="keywords" content="Hypster.TV, Music, Radio, TV and the Net, reporting, bands, tributes, groups, rock, headliners, rap, movies, classical, 80\'s, jams, actors, a-listers, the business, hollywood, gigs, big bands, swing, jazz, foreign, irish, standards, glamour" />


    @Styles.Render("~/css/themes/base/css", "~/css/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/hypScript.js")
    @Scripts.Render("~/scripts/jquery.cycle.all.latest.js")
    @Scripts.Render("~/scripts/AC_RunActiveContent.js")

</head>



<body>
    <center>
        <div class="RootCont">
            

            <!-- TOP HEADER -->
            <div class="TopHeaderCont" >
                <a class="mainLogo" href="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]"></a>

                @Html.Partial("~/Views/account/_LoginStatus.cshtml")

                <!-- 06_10 -->
                <div id="TopAdd1">
                    <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default" width="728" height="90" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </div>
            </div>
            <!-- TOP HEADER -->


            
            <!-- MAIN MENU -->
            <ul id="MainMenu" >
                <li class="sSide"></li>
                <li class="mHome" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]';"></li>
                <li class="mRegister" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/register';" >Register</li>
                <li class="mSep"></li>
                <li class="mSearchMusic" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/Home/YoutubeSearch';">Search Music</li>
                <li class="mSep"></li>
                <li class="mFindFriends" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/browse';">Find Friends</li>
                <li class="mSep"></li>
                <li class="mHypsterTV" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]';">Hypster.TV</li>
                <li class="mSep"></li>
                <li class="mMusicNews" onclick="window.location='http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]';">Music News</li>
                <li class="sSide"></li>
            </ul>
            <!-- MAIN MENU -->

            





            <!-- MAIN CONTENT -->
            <div style=" float:left; width:100%; margin-top:13px; ">
                
                <!-- LEFT CONT -->
                <div style=" float:left; width:625px; min-height:254px; background-color:#565656; border-radius:2px;">
                    <h2>Page not found...</h2>
                    <br />
                    @Html.ActionLink("GO TO HOME PAGE", "Index", "Home")
                </div>
                <!-- LEFT CONT -->


                <!-- RIGHT CONT -->
                <div style=" float:right; width:304px; margin-left:10px; ">
                    
                    <!-- 06_10 -->
                    <div class="AdCont300x250">
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                    
                </div>
                <!-- RIGHT CONT -->


            </div>
            <!-- MAIN CONTENT -->



            <!-- BOTTOM -->
            <div id="FooterBar">
                Copyright © Hypster.com. 2006-2012. All Rights Reserved.&nbsp;
            </div>
            <div class="BtmWS"></div>
            <!-- BOTTOM -->



            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28695705-2']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
			</script>

        </div>
    </center>

</body>


</html>
